
{erl_opts, [{src_dirs, ["contrib/misc/src"]}]}.

{deps, [
	{errd, "0.1", {git, "https://github.com/Vagabond/errd.git", "15ad6ea908aaad69d6aa"}},
	{gen_smtp, "0.1", {git, "https://github.com/Vagabond/gen_smtp.git", "2894b23edbf879b99968"}},
	{gen_leader, "1.0", {git, "https://github.com/Vagabond/gen_leader_revival.git", "9699f85e6c12964ee378"}},
	{mochiweb, "1.3", {git, "http://github.com/mochi/mochiweb.git", "9396655c6f253863b6ce"}}
	]}.
